.git
.gitattributes
.gitignore
.claude
.editorconfig
.env
.env.example
.npmrc
README.md
node_modules
vendor
database/database.sqlite
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
phpunit.xml
